<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Your Website. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-unstyled">
                    <li><a href="privacy.html" class="text-white">Privacy Policy</a></li>
                    <li><a href="terms.html" class="text-white">Terms of Service</a></li>
                    <li><a href="sitemap.html" class="text-white">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
